@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MobileMenu{
  float: right;
}
.artboard.phone-61 {
  width: 210px;
  height: 600px;
}
.bords_profile{
  background: -webkit-gradient(linear,left top,left bottom,from(#fe6d72),to(#fea621));
  background: linear-gradient(#fe6d72,#fea621);
  -webkit-box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
  -moz-box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
  box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 300px;
  height: 600px;
}
